{% extends 'base.html' %}
{% comment %} {% load my_tags %} {% endcomment %}
{% load crispy_forms_tags %}
{% block content %}
<h3>
    Клиенты
    <a href="{% url 'main:create_client' %}">
        {% include 'include/plus.html' %}
    </a>
    <p>main.change_client: {{ perms.main.edit_client }}</p>
</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Электронный адрес</th>
        <th scope="col">Комментарий</th>
        <th scope="col">Актив</th>
        <th scope="col">Действия</th>
        <th scope="col">Автор</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>
            <a href="{% url 'main:detail_client' object.pk %}">
                {{ object.fio }}
            </a>
        </td>
        <td>{{ object.email }}</td>
        <td>{{ object.comment|truncatechars:100 }}</td>
        <td>
            {% if perms.main.can_edit_is_active_client or user == object.user %}
                {% if object.is_active %}
                    <a href="{% url 'main:active_client' object.pk %}">
                        {% include 'include/check.html' %}
                    </a>
                {% else %}
                    <a href="{% url 'main:active_client' object.pk %}">
                        {% include 'include/uncheck.html' %}
                    </a>
                {% endif %}
            {% else %}
                {% if object.is_active %}
                    {% include 'include/check.html' %}
                {% else %}
                    {% include 'include/uncheck.html' %}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {% if perms.main.can_edit_is_active_client or user == object.user %}
            <a href="{% url 'main:update_client' object.pk %}">
                {% include 'include/gear.html' %}
            </a>
            {% comment %} {% else %}
                {% include 'include/gear.html' %} {% endcomment %}
            {% endif %}
            {% if perms.main.edit_client or user == object.user %}
            <a href="{% url 'main:delete_client' object.pk %}">
                {% include 'include/cross.html' %}
            </a>
            {% comment %} {% else %}
                {% include 'include/cross.html' %} {% endcomment %}
            {% endif %}
        </td>
        <td>
            {{ object.user }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
