{% extends 'base.html' %}
{% comment %} {% load my_tags %} {% endcomment %}
{% load crispy_forms_tags %}
{% block content %}
<h3>
    Клиенты
    <a href="{% url 'main:create_client' %}">
        {% include 'include/plus.html' %}
    </a>
</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Электронный адрес</th>
        <th scope="col">Комментарий</th>
        <th scope="col">Актив</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>
            <a href="{% url 'main:detail_client' object.pk %}">
                {{ object.fio }}
            </a>
        </td>
        <td>{{ object.email }}</td>
        <td>{{ object.comment|truncatechars:100 }}</td>
        <td>
            {% if object.is_active %}
                <a href="{% url 'main:active_client' object.pk %}">
                    {% include 'include/check.html' %}
                </a>
            {% else %}
            <a href="{% url 'main:active_client' object.pk %}">
                {% include 'include/uncheck.html' %}
            </a>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'main:update_client' object.pk %}">
                {% include 'include/gear.html' %}
            </a>
            <a href="{% url 'main:delete_client' object.pk %}">
                {% include 'include/cross.html' %}
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
