{% extends 'base.html' %}
{% comment %} {% load my_tags %} {% endcomment %}
{% load crispy_forms_tags %}

{% block content %}

<h3>
    Клиенты
    <a href="{% url 'main:create_client' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-add bg-light" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
        </svg>
    </a>
</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Электронный адрес</th>
        <th scope="col">Комментарий</th>
        <th scope="col">Актив</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{ object.fio }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.comment|truncatechars:100 }}</td>
        <td>
            {% if object.is_active %}
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
            </svg>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'main:update_client' object.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
            </a>
            <a href="{% url 'main:delete_client' object.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                </svg>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}

{% comment %} <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for object in object_list %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object.category }} {{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price }}<small
                        class="text-body-secondary fw-light"> руб.</small></h1>
                <p class="list-unstyled mt-3 mb-4">
                    {{ object.description|truncatechars:100 }}
                    {% if object.in_stock %}
                    <p class="text-body-secondary">В наличии</p>
                    {% else %}
                    <p class="text-body-secondary">Отсутсвует</a>
                    {% endif %}
                    <p class="text-body-secondary">Автор: {{ object.owner }}</a>
                </p>
                <p class="list-unstyled mt-3 mb-4">
                    {% for v in versions.items %}
                    {% if v.0 == object.pk %}
                    Текущая версия: {{ v.1 }}
                    {% endif %}
                    {% endfor %}
                </p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="{% url 'catalog:view_product' object.pk %}">Подробнее</a>
                    {% if perms.catalog.can_edit_in_stock and perms.catalog.can_edit_description and perms.catalog.can_edit_category or user == object.owner %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Действия
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'catalog:update_product' object.pk %}">Редактировать</a>
                            <li><a class="dropdown-item" href="{% url 'catalog:delete_product' object.pk %}">Удалить</a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'catalog:update_product' object.pk %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <a class="w-100 btn btn-lg btn-primary" href="{% url 'catalog:create_product' %}">Добавить</a>
</div> {% endcomment %}
