{% extends 'base.html' %}
{% comment %} {% load my_tags %} {% endcomment %}
{% load crispy_forms_tags %}
{% block content %}
<h3>
    События
</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Дата</th>
        <th scope="col">Рассылка</th>
        <th scope="col">Клиент</th>
        <th scope="col">Статус</th>
        <th scope="col">Ответ сервера</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{ object.last_try }}</td>
        <td>{{ object.mailing }}</td>
        <td>{{ object.client }}</td>
        <td>{{ object.get_status_display }}</td>
        <td>{{ object.response }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
