{% extends 'base.html' %}
{% comment %} {% load my_tags %} {% endcomment %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col">
    <form method="post" enctype="multipart/formdata">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card">
                    <h3 class="card-title text-center mt-3 mb-3">
                        Удаление
                    </h3>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>Подтвердите удаление сообщения "{{ object.subject }}"</p>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                            <a href="{% url 'main:list_message' %}" class="btn btn-warning">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}